{% extends "webpage/base.html" %}
{% load staticfiles %}
{% block scriptHeader %}
    <link rel="stylesheet" href="{% static 'webpage/libraries/leaflet/leaflet.css' %}"/></link>
    <link rel="stylesheet" href="{% static 'webpage/libraries/leaflet.markercluster/dist/MarkerCluster.css' %}"/></link>
    <link rel="stylesheet" href="{% static 'webpage/libraries/leaflet.markercluster/dist/MarkerCluster.Default.css' %}"/></link>

     <script src="{% static 'webpage/libraries/leaflet/leaflet.js' %}"></script>
     <script src="{% static 'webpage/libraries/leaflet.markercluster/src/leaflet.markercluster-src.js' %}"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
     <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.css" rel="stylesheet" type="text/css">
     <style>
         #map {
          height: 500px;
          /*margin-top: 10px;*/
          margin-bottom: 30px;
        }
     </style>
     <style type="text/css">
       #mynetwork {
         width: auto;
         height: 500px;
       }
       /* basic positioning */
        .legend { 
          list-style: none; 
          margin-top: 10px;
          padding: 10px 10px 10px 0px;
        }
        .legend li {
          float: left;
          margin-right: 10px;
          margin-left: 0px;
        }
        .legend span {
          border: 1px solid #000000;
          float: left;
          width: 14px;
          height: 14px;
          margin: 2px; 
        }
        /* colors */
        .legend .edition {
          background-color: #ec2f00;
        }
        .legend .institution {
          background-color: #30b6a9;
        }
        .legend .place {
          background-color: #f5a731;
        }
        .legend .person {
          background-color: #9b1f82;
        }
        .legend .repository {
          background-color: #c92166;
        }
        .custom-dropdown {
            z-index: 2000;
        }

     </style>
{% endblock %}
{% block content %}
<div class="alert alert-info alert-dismissable" style="text-align:center;">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        Use the blue previous/next arrows below to view the projects in the order in which they appear in the Catalogue. If you've reached this page through the filtering options provided in the <a href="{% url 'browsing:browse_editions' %}"><font color="white"><strong>Browse Catalogue page</strong></font></a>, you can navigate back to your filtered list using the previous/next arrows of your browser.
</div>
{% if object.current_availability == True %}

    {% else %}
    <div class="alert alert-danger alert-dismissable" style="text-align:center;">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            Edition no longer available under <a href="{{ object.url }}"><font color="white"><strong>provided link</strong></font></a>
    </div>
{% endif %}

<div class="panel panel-default">
    <div class="panel-heading">

        <div class="row">
            <div class="col-md-2">
            {% if previous_entry %}
                <h2>
                    <a href="{% url 'editions:edition_detail' pk=previous_entry %}"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true" title="previous edition"></span></a>
                </h2>
            {% endif %}
            </div>
            <div class="col-md-8" style="text-align:center;">
                <h2 ><b>{{ object.name }}</b></h2>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Download <span class="caret"></span></button>
                    <ul class="dropdown-menu custom-dropdown" role="menu">
                        <li><a href="{% url 'browsing:rdf' %}?format=n3&name={{ object.legacy_id }}" title="Download current edition as n3 file"><b>N3</b></a></li>
                        <li><a href="{% url 'browsing:rdf' %}?format=pretty-xml&name={{ object.legacy_id }}" title="Download current edition as rdf/xml file"><b>RDF/XML</b></a></li>
                        <li><a href="{% url 'browsing:netvisjson' %}?name={{ object.legacy_id }}">
                        <b>JSON netvis</b></a></li>
                    </ul>

                </div>
                <h4>
                    <span id="clickme" title="click to toggle info" class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                </h4>
            </div>
            <div class="col-md-2">
            {% if next_entry %}
                <h2>
                    <a href="{% url 'editions:edition_detail' pk=next_entry %}" style="float:right"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true" title="next edition"></span></a>
                </h2>
            {% endif %}
            </div>
        </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-bordered table-hover table-condensed">
                    <tr>
                        <th class="col-sm-3">URL</th>
                        <td class="readmore col-sm-3"><small>The project URL.</small></td>
                        <td class="col-sm-6"><a href="{{ object.url }}">{{ object.url }} </a> |
                            <a href="{{ object.url }}" title="open link in new tab" target="_blank"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a></td>
                    </tr>
                    <tr>
                        <th>Historical Period</th>
                        <td class="readmore"><small>Historical period to which the source document/text belongs.</small></td>
                        <td>{% for x in object.historical_period.all %} {{ x.name }}<br/> {% endfor %}</td>
                    </tr>
                    <tr>
                        <th>Scholarly</th>
                        <td class="readmore"><small>Sahle - An edition must have critical components - a pure facsimile is not an edition, a digital library is not an edition.</small></td>
                        <td>{{ object.scholarly }}</td>
                    </tr>
                     <tr>
                        <th>Digital</th>
                        <td class="readmore"<small><small>Sahle - A digital edition cannot be converted to a printed edition without substantial loss of content or functionality - vice versa: a retrodigitized printed edition is not a Scholarly Digital Edition (but it may evolve into a Scholarly Digital Edition through new content or functionalities).</small></td>
                        <td>{{ object.digital }}</td>
                    </tr>
                     <tr>
                        <th>Edition</th>
                        <td class="readmore"><small>Sahle - An edition must represent its material (usually as transcribed/edited text) - a catalog, an index, a descriptive database is not an edition.</small></td>
                        <td>{{ object.edition }}</td>
                    </tr>
                     <tr>
                        <th>Writing support</th>
                        <td class="readmore"><small>The nature or materiality of the source text (manuscript, letter, notebook, etc.).</small></td>
                        <td>{{ object.writing_support }}</td>
                    </tr>
                     <!-- <tr>
                        <th>prototype</th>
                        <td class="readmore"><small>A Scholarly Digital Edition (SDE) is a publication of the material in question; a SDE project is not the same as a SDE, that means a SDE is more than a plan or a prototype.</small></td>
                        <td>{{ object.prototype }}</td>
                    </tr> -->
                    <tr>
                        <th>Language</th>
                        <td class="readmore"><small>The language(s) of the source text (three-letter ISO codes used).</small></td>
                        <td>{% for x in object.language.all %} {{ x.iso_code }}<br/>{% endfor %}</td>
                    </tr>
                     <tr>
                        <th>Begin date</th>
                        <td class="readmore"><small>Year the project started.</small></td>
                        <td>
                            {% if object.begin_date %}
                                {{ object.begin_date|date:"Y" }}
                            {% else %}
                                {{ object.begin_date_comment }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                       <th>End date</th>
                       <td class="readmore"><small>Year the project ended.</small></td>
                       <td>
                           {% if object.end_date %}
                               {{ object.end_date|date:"Y" }}
                           {% else %}
                               {{ object.end_date_comment }}
                           {% endif %}
                       </td>
                    </tr>
                     <tr>
                        <th>Manager</th>
                        <td class="readmore"><small>Name of project manager(s).</small></td>
                        <td>{% for x in object.manager.all %} {{ x.name }}<br/>{% endfor %}</td>
                    </tr>
                     <tr>
                        <th>Institution</th>
                        <td class="readmore"><small>Name(s) of institution(s) involved in the project.</small></td>
                        <td>
                            {% for x in object.institution.all %}
                                {% if x.website %}
                                    <a href="{{ x.website }}">{{ x.name }}</a>
                                {% else %}
                                    {{ x.name }}
                                {% endif %}
                                <br/>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                       <th>Repository of Source Material(s)</th>
                       <td class="readmore"><small>The institution(s) that house the source text(s).</small></td>
                       <td>
                           {% for x in object.holding_repo.all %}
                               {% if x.website %}
                                   <a href="{{ x.website }}">{{ x.name }}</a>
                               {% else %}
                                   {{ x.name }}
                               {% endif %}
                               <br/>
                           {% endfor %}
                       </td>
                   </tr>
                     <tr>
                        <th>Audience</th>
                        <td class="readmore"><small>The project's target audience.</small></td>
                        <td>{{ object.audience }}</td>
                    </tr>
                     <tr>
                        <th>Philological statement</th>
                        <td class="readmore"><small>
                        <li>0: No information on the editorial methods and practices nor on the source (digital or printed) of the text.</li>
                        <li>0.5: Some information about the source, and of the author, date and accuracy of the digital edition.</li>
                        <li>1: Complete information on the source of the text, as well as on the author, date and accuracy of the digital edition; (Digital Humanities) standards implemented, including modelling, markup language, data structure and software.</li></small></td>
                        <td>{{ object.get_philological_statement_display }}</td>
                    </tr>
                    <tr>
                        <th>Account of textual variance</th>
                        <td class="readmore"><small>
                        <li>0: No account of textual variance is given. The digital edition is a reproduction of a given print edition without any account of variants.</li>
                        <li>0.5: The digital edition is a reproduction of a given print scholarly edition and reproduces the selected textual variants extant in the apparatus criticus of that edition, or: the edition does not follow a digital paradigm, in that the variants are not automatically computable the way they are encoded.</li>
                        <li>1: This edition is “based on full-text transcription of original texts into electronic form” (vd. Proposition 2 in <a href="http://www.tei-c.org/About/Archive_new/ETE/Preview/robinson.xml">this article</a> by P. Robinson).</li></small></td>
                        <td>{{ object.get_textual_variance_display }}</td>
                    </tr>
                    <tr>
                        <th>Value of witnesses</th>
                        <td class="readmore"><small>
                            <li>N/A: Not applicable, as no information about the source of the text is given, though it is easily assumable that the source is another digital edition or a printed edition (possibly even a scholarly edition).</li>
                            <li>0: The only witness modelled digitally is a printed non-scholarly edition, used as a source for the digital edition.</li>
                            <li>0.5: Same as above, but the witness/source is a scholarly edition.</li>
                            <li>1: The witnesses are traditional philological primary sources (including manuscripts, inscriptions or papyri).</li></small>
                        </td>
                        <td>{{ object.get_value_witnesses_display }}</td>
                    </tr>
                    <tr>
                        <th>XML-TEI transcription</th>
                        <td class="readmore"><small>
                            The source text is encoded in XML-TEI. Possible values:<br/>
                            <li>0: no</li>
                            <li>0.5: partially</li>
                            <li>1: yes</li>
                        </small>
                        </td>
                        <td>{{ object.get_tei_transcription_display }}</td>
                    </tr>
                    <tr>
                        <th>XML(-TEI) transcription to download</th>
                        <td class="readmore"><small>
                            The XML(-TEI) encoded text is available for download.<br/>
                            <li>0: no</li>
                            <li>0.5: partially</li>
                            <li>1: yes</li>
                        </small>
                        </td>
                        <td>{{ object.get_download_display }}</td>
                    </tr>
                    <tr>
                        <th>Images</th>
                        <td class="readmore"><small>The digital edition comes with images.</small></td>
                        <td>{{ object.images }}</td>
                    </tr>
                    <tr>
                        <th>Zoom images</th>
                        <td class="readmore"><small>The user can zoom in or out of images within the edition.</small></td>
                        <td>{{ object.zoom_images }}</td>
                    </tr>
                    <tr>
                        <th>Image manipulation</th>
                        <td class="readmore"><small>The user can manipulate these images in some way within the edition (brightness, rotation, etc.).</small></td>
                        <td>{{ object.image_manipulation }}</td>
                    </tr>
                    <tr>
                        <th>Text-image linking</th>
                        <td class="readmore"><small>The transcription and the image are linked so that clicking on a word in the image brings up the corresponding textual token and viceversa.</small></td>
                        <td>{{ object.text_image }}</td>
                    </tr>
                    <tr>
                        <th>Website language</th>
                        <td class="readmore"><small>The language in which the project website is written. <a href="http://www.loc.gov/standards/iso639-2/php/code_list.php">Three-letter ISO codes</a> should be used.</small></td>
                        <td>{% for x in object.website_language.all %} {{ x.iso_code }} <br/> {% endfor %}</td>
                    </tr>
                    <tr>
                        <th>Glossary</th>
                        <td class="readmore"><small>The digital edition provides a glossary.</small></td>
                        <td>{{ object.glossary }}</td>
                    </tr>
                    <tr>
                        <th>Indices</th>
                        <td class="readmore"><small>The digital edition provides one or multiple indices.</small></td>
                        <td>{{ object.indices }}</td>
                    </tr>
                    <tr>
                        <th>String matching search</th>
                        <td class="readmore"><small>The digital edition provides a string matching search functonality.</small></td>
                        <td>{{ object.search }}</td>
                    </tr>
                    <tr>
                        <th>Advanced search</th>
                        <td class="readmore"><small>The digital edition provides an advanced search functionality.</small></td>
                        <td>{{ object.advanced_search }}</td>
                    </tr>
                    <tr>
                        <th>Creative Commons License</th>
                        <td class="readmore"><small>The project is protected by a Creative Commons License.</small></td>
                        <td>{{ object.get_cc_license_display }}</td>
                    </tr>
                    <tr>
                        <th>Open Source/Open Access</th>
                        <td class="readmore"><small>
                            <li>0: Proprietary, all material is copyrighted. The ‘source’ is closed and not reusable by other research projects. To access the material, users must pay a subscription.</li>
                            <li>0.5: Same as above, but the subscription is free of charge.</li>
                            <li>1: Open Access. The texts may be accessed through specific software, but the source is not accessible.</li>
                            <li>1.5: Open Access and Open Source. Part of the data underlying the digital edition (e.g. text but not images) is freely available for access and reuse.</li>
                            <li>2: Open Access and Open Source. All data underlying the digital edition is freely available for access, study, redistribution and improvement (reuse).</li>
                        </small></td>
                        <td>{{ object.get_open_source_display }}</td>
                    </tr>
                    <tr>
                        <th>OCR or keyed</th>
                        <td class="readmore"><small>The source text was digitised with Optical Character Recognition (OCR) software or manually keyed in.</small></td>
                        <td>{{ object.get_key_or_ocr_display }}</td>
                    </tr>
                    <tr>
                        <th>Print-friendly view</th>
                        <td class="readmore"><small>The project provides a print-friendly view of the text (e.g. PDF).</small></td>
                        <td>{{ object.print_friendly }}</td>
                    </tr>
                    <tr>
                        <th>Budget</th>
                        <td class="readmore"><small>How much the project cost, roughly.</small></td>
                        <td>{{ object.budget }}</td>
                    </tr>
                    <tr>
                        <th>Infrastructure</th>
                        <td class="readmore"><small>The technologies used to build the digital edition.</small></td>
                        <td>{{ object.infrastructure }}</td>
                    </tr>
                    <tr>
                        <th>API</th>
                        <td class="readmore"><small>The project comes with an API (Application Programming Interface).</small></td>
                        <td>{{ object.api }}</td>
                    </tr>
                    <tr>
                        <th>RIDE review</th>
                        <td class="readmore"><small>The project has been reviewed in the <a href="http://ride.i-d-e.de/" target="_blank" title="Opens in new tab">RIDE Journal</a>.</small></td>
                        <td>
                            {% if object.ride_review %}
                                <a href="{{ object.ride_review }}"> {{object.ride_review}}</a>
                            {% else %} no
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Sahle Catalog</th>
                        <td class="readmore"><small>Indicates whether a digital edition is also present in <a href="http://www.digitale-edition.de/">Patrick Sahle's Catalog of Digital Scholarly Editions</a>. The values 0 [no] or 1 [yes] are used.</small></td>
                        <td>
                            {% if object.sahle_cat %}
                                <a href="http://www.digitale-edition.de/"> {{object.get_sahle_cat_display}}</a>
                            {% else %}
                            {{object.get_sahle_cat_display}}
                            {% endif %}
                        </td>
                    </tr>
                </table>
                  {% if user.is_authenticated %}

                    <a href="{% url 'editions:edition_edit' pk=object.legacy_id %}">
                    <button type="button" class="btn btn-primary" style="margin-bottom: 10px;">edit Edition</button>
                    </a>

                    {% endif %}
                </div>
                <div class="col-md-6">
                    <div id="map"></div>
                    <ul class="legend">
                        <li><span class="edition"></span> Edition</li>
                        <li><span class="institution"></span> Institution</li>
                        <li><span class="place"></span> Place</li>
                        <li><span class="person"></span> Person</li>
                        <li><span class="repository"></span> Repository</li>
                    </ul>
                    <div id="mynetwork"></div>

                    <div class="text-center">
                      <a href="https://github.com/gfranzini/digEds_cat/issues" class="btn btn-md procustom-btn" title="Report a bug or an update for this project on Github" id="report-btn">
                        report a bug or an update for this project
                      </a>
                    </div>

                </div>
            </div>




<script type="text/javascript">
  var sourceData = {{ object.netviz_data|safe }};
  // create a network
  var container = document.getElementById('mynetwork');
  var data = {
    nodes: sourceData.nodes,
    edges: sourceData.edges
  };
  var options = {
    nodes: {borderWidth: 2},
    interaction: {hover: true}
  }
  var network = new vis.Network(container, data, options);
  network.on("selectNode", function (params) {
     var seeMore = params.nodes[0];
     var nodeObject = data.nodes.filter(x => x.id == seeMore)
     console.log(nodeObject[0]['url']);
     if (nodeObject[0]['url'] == undefined){
         console.log('No URL')
     } else {
         window.open(nodeObject[0]['url']);
     }

  });
</script>
        </div>

<script type="text/javascript">
    $(document).ready(function(){
        $( "td[class~='readmore']" ).hide();
    })
    $("#clickme").click(function(){
        $( "td[class~='readmore']" ).toggle("slow");
    })
</script>

<script>
    var mapLayerGroups = [];
    function onEachFeature(feature, layer) {
            var lg = mapLayerGroups[feature.relation_type];
            if (lg === undefined) {
                lg = new L.layerGroup();
                mapLayerGroups[feature.relation_type] = lg;
            }

            //add the feature to the layer
            lg.addLayer(layer);
            //mymap.fitBounds(lg.getBounds(), {'maxZoom': 12});

            if (feature.properties && feature.properties.popupContent) {
                popupContent = feature.properties.popupContent;
            }

            layer.bindPopup(feature.properties.popupContent);

        };


        var mymap = L.map('map', {
            fullscreenControl: true,
        }).setView([0, 0], 2);

        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox.light',
            accessToken: 'pk.eyJ1Ijoic2VubmllcmVyIiwiYSI6ImNpbHk1YWV0bDAwZnB2dW01d2l1Y3phdmkifQ.OljQLEhqeAygai2y6VoSwQ'
        }).addTo(mymap);
        var markers = L.markerClusterGroup({});
        var bounds = new L.LatLngBounds(markers);
        var build_data =  [{% for obj in object.institution.all %}{"geometry": {"type": "Point", "coordinates": [ {{ obj.place.lng }}, {{obj.place.lat }} ]}, "type": "Feature",
            "properties": {"popupContent": "<table class='table table-striped'><tr><th>Institution</th><td> {{ obj }}</td></tr><tr><th>Projects</th><td>{% for x in obj.projects.all %} <a href='{% url "editions:edition_detail" pk=x.legacy_id %}'>{{x}}</a><br/> {%endfor%}</td></tr></tr></table>" }, "id": "{{ obj.id }}" }{% if forloop.last %}] {% else %},{% endif %}{% empty %}]{% endfor %}
        var geoJsonLayer = L.geoJson( build_data, {onEachFeature: onEachFeature});
        markers.addLayer(geoJsonLayer);
        mymap.addLayer(markers);
        mymap.fitBounds(bounds, {'maxZoom': 12});
    </script>

{% endblock %}
