{% extends "webpage/base_tablesorter.html" %}
{% load staticfiles %}

{% block Titel %} All Digital Editions {% endblock %}

{% block content %}
 

<h1>Editions</h1>

<table class="table table-striped table-condensed table-hover">
    <thead>
      <th colspan="9" class="ts-pager form-horizontal">
            <button type="button" class="btn first"><i class="icon-step-backward glyphicon glyphicon-step-backward"></i></button>
            <button type="button" class="btn prev"><i class="icon-arrow-left glyphicon glyphicon-backward"></i></button>
            <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
            <button type="button" class="btn next"><i class="icon-arrow-right glyphicon glyphicon-forward"></i></button>
            <button type="button" class="btn last"><i class="icon-step-forward glyphicon glyphicon-step-forward"></i></button>
            <select class="pagesize input-mini" title="Select page size">
              <option selected="selected" value="10">10</option>
              <option value="20">20</option>
              <option value="30">30</option>
              <option value="40">40</option>
              <option value="1000">all</option>
            </select>
            <select class="pagenum input-mini" title="Select page number"></select>
          </th>
        <tr align="center">
            <th>Edition</th>
            <th>URL</th>
            <th>Institution</th>
            <th>Period</th>
            <th>Manager</th>
            <th>TEI</th>
            <th>XML download</th>
            <th>scholarly</th>
            <th>Open Access/Source</th>
        </tr>
    </thead>
    {% for object in object_list %}
        <tr>
            <td>
                <a href="{% url 'editions:edition_detail' pk=object.id %}">{{ object.name }}</a>
            </td>
            <td>
                <a href="{{ object.url }}"> {{ object.url }}</a>
            </td>
             <td>
                {% for x in object.institution.all %} {{ x.name }}<br/> {% endfor %}
            </td>
            <td>
                {% for x in object.historical_period.all %} {{ x.name }}<br/> {% endfor %}
            </td>
            <td>
                {% for x in object.manager.all %} {{ x.name }}<br/> {% endfor %}
            </td>
            <td>
                {{ object.tei_transcription }}
            </td>
            <td>
                {{ object.download }}
            </td>
            <td>
                {{ object.scholarly }}
            </td>
            <td>
                {{ object.open_source }}
            </td>
        </tr>
    {% endfor %}
</table>

<script type="text/javascript">
var institutions = [{% for object in object_list %} {% for x in object.institution.all %} '{{ x.name }}',{% endfor %} {% endfor %}];

var projects = [{% for object in object_list %} '{{ object.name }}', {% endfor %}];

$(function() {
  $("input[data-column='0']").autocomplete({
    source:[projects]
  }); 
});
$(function() {
  $("input[data-column='1']").autocomplete({
    source:[institutions]
  }); 
});
</script>
{% endblock %}