{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load django_tables2 crispy_forms_tags %}
{% block Titel %}
    {{ data.title }}
{% endblock %}

{% block scriptHeader %}
    <!--highcharts -->
        <script src="{% static 'charts/highcharts/highcharts.js' %}"></script>
        <script src="{% static 'charts/highcharts/highcharts-3d.js' %}"></script>
        <script src="{% static 'charts/highcharts/exporting.js' %}"></script>
    <!--highcharts END -->
{% endblock %}
{% block content %}
{% if error %}
<h1>Some error occured, most likely, the property <code>{{ property_name }}</code> you would like to display does not exist</h1>
{% else %}
<div class="container">

    <div class="panel panel-default">
        <div class="panel-heading" style="text-align:center;">
            <h1>{{ data.title }}</h1>
            <legend>{{ data.items }}</legend>
            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myFilter" title="click to add filter">
            <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
          </button>
           <button  type="button" class="btn btn-default" data-toggle="collapse" data-target="#howtocite" id="howtocite-btn">JSON data</button>

     <div id="howtocite" class="collapse">
     <p>{{data}}</p>
     </div>
        </div>
        <div class="panel-body">
            <div id="bar"></div>
        </div>
    </div>

  <!-- Modal -->
  <div class="modal fade" id="myFilter" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Filter & Search</h4>
      </div>
      <div class="modal-body">
        {% crispy filter.form filter.form.helper %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
    $(document).ready(function() {
        var payload = {{ data.payload | safe }}
        console.log(payload)
        $(function () {
            $('#bar').highcharts({
            chart: {
                type: '{{ charttype }}',
                options3d: {
                        enabled: false,
                        alpha: 20
                    }
            },
            title: {
                text: ""
                },
            subtitle: {
                text: "{{ data.subtitle|safe }}"
                },
            xAxis: {
                type: 'category',
                title: {
                text: "{{data.legendy}}"
            },
                labels: {
                    rotation: -45,
                    style: {
                            fontSize: '13px',
                            fontFamily: 'Verdana, sans-serif'
                        }
                    }
                },
            yAxis: {
                // type: 'category',
                min: "{{data.ymin}}",
                title: {
                text: "{{data.legendx}}"
                }
            },
            legend: {
                enabled: true
                },
            tooltip: {
            },
            series: [{
            name: "{{ data.measuredObject }}",
            data: payload,
            dataLabels: {
            enabled: false,
            rotation: 0,
            color: '#FFFFFF',
            align: 'right',
            format: '{point.y:.1f}', // one decimal
            y: 10, // 10 pixels down from the top
            style: {
            fontSize: '13px',
            fontFamily: 'Verdana, sans-serif'
            }
            }
        }]
    });
    });
});
</script>



</div>
{% endif %}
{% endblock %}
