{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load django_tables2 crispy_forms_tags %}
{% block Titel %}
    {{ data.title }}
{% endblock %}

{% block scriptHeader %}
    <!--highcharts -->
        <script src="{% static 'charts/highcharts/highcharts.js' %}"></script>
        <script src="{% static 'charts/highcharts/highcharts-3d.js' %}"></script>
        <script src="{% static 'charts/highcharts/exporting.js' %}"></script>
    <!--highcharts END -->
{% endblock %}
{% block content %}
<div class="container">
    {{ data }}
    <div class="panel panel-default">
        <div class="panel-heading" style="text-align:center;">
            <h1>{{ data.title }}</h1>
            <legend>{{ data.items }}</legend>
            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myFilter" title="click to add filter">
            <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
          </button>
        </div>
        <div class="panel-body">
            <div id="bar"></div>
        </div>
    </div>



  <!-- Modal -->
  <div class="modal fade" id="myFilter" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Filter & Search</h4>
      </div>
      <div class="modal-body">
        {% crispy filter.form filter.form.helper %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
    $(document).ready(function() {
        var payload = [{% for key, value in data.payload.items %} ["{{ key }}", {{ value }} ], {% endfor %}].sort()
        console.log(payload)
        $(function () {
            $('#bar').highcharts({
            chart: {
                type: 'column',
                options3d: {
                        enabled: true,
                        alpha: 20
                    }
            },
            title: {
                text: ""
                },
            subtitle: {
                text: "{{ data.subtitle }}"
                },
            xAxis: {
                type: 'category',
                labels: {
                    rotation: -45,
                    style: {
                            fontSize: '13px',
                            fontFamily: 'Verdana, sans-serif'
                        }
                    }
                },
            yAxis: {
                min: "{{data.ymin}}",
                title: {
                text: "{{data.legendy}}"
                }
            },
            legend: {
                enabled: false
                },
            tooltip: {
            },
            series: [{
            name: "{{data.measuredObject}}",
            data: payload,
            dataLabels: {
            enabled: false,
            rotation: -90,
            color: '#FFFFFF',
            align: 'right',
            format: '{point.y:.1f}', // one decimal
            y: 10, // 10 pixels down from the top
            style: {
            fontSize: '13px',
            fontFamily: 'Verdana, sans-serif'
            }
            }
        }]
    });
    });
});
</script>



</div>
{% endblock %}
