# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

#Ipython Notebook
.ipynb_checkpoints

#migrations
/db.sqlite3
/digital_editions/settings/pandorfer_local.py
/digital_editions/settings/server.py
