acdh-django-handle==0.1.1
asgiref==3.2.10
certifi==2020.6.20
chardet==3.0.4
Django==3.1
django-autocomplete-light==3.5.1
django-crispy-forms==1.9.2
django-extensions==3.0.5
django-filter==2.3.0
django-tables2==2.3.1
djangorestframework==3.11.1
idna==2.10
isodate==0.6.0
lxml==4.5.2
mysqlclient==2.0.1
numpy==1.19.1
pandas==1.1.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
rdflib==5.0.0
requests==2.24.0
six==1.15.0
SPARQLWrapper==1.8.5
sqlparse==0.3.1
urllib3==1.25.10
