acdh-django-handle==0.1.0
bleach==2.0.0
certifi==2017.4.17
chardet==3.0.3
colorama==0.3.9
cycler==0.10.0
decorator==4.1.0
Django==2.2.13
django-autocomplete-light==3.3.2
django-crispy-forms==1.7.2
django-extensions==1.7.9
django-filter==2.0.0
django-rest-framework==0.1.0
django-tables2==2.0.2
djangorestframework==3.7.7
entrypoints==0.2.3
html5lib==0.999999999
idna==2.5
ipykernel==4.6.1
ipython==6.1.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isodate==0.5.4
jedi==0.10.2
Jinja2==2.9.6
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
lxml==4.1.1
MarkupSafe==1.0
matplotlib==2.0.2
mistune==0.8.4
mysqlclient==1.3.10
nbconvert==5.2.1
nbformat==4.3.0
notebook==5.7.4
numpy==1.13.1
pandas==0.20.3
pandocfilters==1.4.1
pickleshare==0.7.4
prometheus-client==0.5.0
prompt-toolkit==2.0.7
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2018.7
pywinpty==0.5.5
pyzmq==17.1.2
qtconsole==4.4.3
rdflib==4.2.2
requests==2.21.0
scikit-learn==0.18.2
scipy==0.19.1
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.10.0
SPARQLWrapper==1.8.2
terminado==0.8.1
testpath==0.3.1
tornado==4.5.1
traitlets==4.3.2
urllib3==1.24.1
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.4.2
