{% extends "browsing/generic_list.html" %}
{% load django_tables2 %}
{% block Titel %}Browse Editions{% endblock %}
{% block list_title %}
    Browse Editions
    | <a href="{% url 'browsing:dl' %}{% querystring %}"><span class="glyphicon glyphicon-download-alt" aria-hidden="true" title="Download the currently selected editions as .csv."></span></a>
    | <a href="{% url 'browsing:rdf' %}?format=n3&{% querystring %}" title="Download the currently selected editions as n3 rdf file.">n3</a>
    | <a href="{% url 'browsing:rdf' %}?format=pretty-xml&{% querystring %}" title="Download the currently selected editions as rdf/xml file.">rdf/xml</a>

{% endblock %}

{% block reset_button %}
<a class ="btn btn-default"  id="01" style="white-space: normal;">Show/Hide Advanced search options</a></br>
 <p></p>
 <a class ="btn btn-default"  href="{% url 'browsing:browse_editions' %}" style="margin-bottom:15px;">Reset search</a>
{% endblock %}

{% block customScripts %}


<script>
$( "#advanced_search_fields" ).append(  '<hr/><div class="controls "><label>entries per page</label><input type="number" class="form-control" name="amount"></div><br/>' );
</script>

<script type="text/javascript">
$(document).ready(function(){
    $("#advanced_search_fields").hide();
    $("#01").click(function(){
        $("#advanced_search_fields").toggle();
    });
});
</script>
{% endblock %}
