{% extends "browsing/generic_list.html" %}
{% block Titel %}Browse Editions{% endblock %}
{% block list_title %}Browse Editions |  <a class ="btn btn-default"  title="This is a generic/lazy implementation. Therefore not all values of an Edition are fetched." href="{% url 'browsing:dl' %}" style="margin-bottom:15px;">download results as csv</a>{% endblock %}

{% block reset_button %}
<a class ="btn btn-default"  id="01" style="white-space: normal;">Show/Hide Advanced search options</a></br>
 <p></p>
 <a class ="btn btn-default"  href="{% url 'browsing:browse_editions' %}" style="margin-bottom:15px;">Reset search</a>
{% endblock %}

{% block customScripts %}


<script>
$( "#advanced_search_fields" ).append(  '<hr/><div class="controls "><label>entries per page</label><input type="number" class="form-control" name="amount"></div><br/>' );
</script>

<script type="text/javascript">
$(document).ready(function(){
    $("#advanced_search_fields").hide();
    $("#01").click(function(){
        $("#advanced_search_fields").toggle();
    });
});
</script>
{% endblock %}
