{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load django_tables2 %}
{% load i18n %}
{% block Titel %} {% endblock %}
{% block scriptHeader %}
    <link rel="stylesheet" type="text/css" href="{% static 'webpage/libraries/jquery.autocomplete/jquery.autocomplete.css' %}"/>
    <script src="{% static 'webpage/libraries/jquery.autocomplete/jquery.autocomplete.js' %}"></script>
    <link rel="stylesheet" href="{% static 'webpage/libraries/leaflet/leaflet.css' %}"/></link>
    <link rel="stylesheet" href="{% static 'webpage/libraries/leaflet.markercluster/dist/MarkerCluster.css' %}"/></link>
    <link rel="stylesheet" href="{% static 'webpage/libraries/leaflet.markercluster/dist/MarkerCluster.Default.css' %}"/></link>

     <script src="{% static 'webpage/libraries/leaflet/leaflet.js' %}"></script>
     <script src="{% static 'webpage/libraries/leaflet.markercluster/src/leaflet.markercluster-src.js' %}"></script>
     <style>
         #map { height: 800px; }
     </style>
{% endblock %}
{% block content %}

        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>A Map of all involved Institutions</h1><br/>
                <small>{{ snyc_log }}</small>


            </div>
            <!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

<!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Search options</h4>

      </div>
      <div class="modal-body">
        {% load django_tables2 crispy_forms_tags %}
        {% crispy filter.form filter.form.helper %}
        <a class ="btn btn-default"  id="01" style="white-space: normal;">Show/Hide Advanced search options</a></br>
         <p></p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<!--Modal ends-->
</div> <!--panel panel-default ends -->
        <div>
          <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal" style="margin-top:10px;">
            Search
          </button>
          <a class ="btn btn-default"  href="{% url 'browsing:map' %}" style="margin-top:10px;">
            Reset search
          </a>
        </div>
            <div class="panel-body">
                <div class="row">
                    <div>
                        <div id="map"></div>
                    </div>
                </div>
            </div>


    <script>
    var mapLayerGroups = [];
    function onEachFeature(feature, layer) {
            var lg = mapLayerGroups[feature.relation_type];
            if (lg === undefined) {
                lg = new L.layerGroup();
                mapLayerGroups[feature.relation_type] = lg;
            }

            //add the feature to the layer
            lg.addLayer(layer);
            //mymap.fitBounds(lg.getBounds(), {'maxZoom': 12});

            if (feature.properties && feature.properties.popupContent) {
                popupContent = feature.properties.popupContent;
            }

            layer.bindPopup(feature.properties.popupContent);

        };

        var mymap = L.map('map', {
            fullscreenControl: true,
        }).setView([0, 0], 2);

        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox.light',
            accessToken: 'pk.eyJ1Ijoic2VubmllcmVyIiwiYSI6ImNpbHk1YWV0bDAwZnB2dW01d2l1Y3phdmkifQ.OljQLEhqeAygai2y6VoSwQ'
        }).addTo(mymap);
        var markers = L.markerClusterGroup({});

        var build_data =  [{% for obj in institutions %}{"geometry": {"type": "Point", "coordinates": [ {{ obj.place.lng }}, {{obj.place.lat }} ]}, "type": "Feature",
            "properties": {"popupContent": "<table class='table table-striped'><tr><th>Institution</th><td> {{ obj }}</td></tr><tr><th>Projects</th><td>{% for x in obj.projects.all %} <a href='{% url "editions:edition_detail" pk=x.legacy_id %}'>{{x}}</a><br/> {%endfor%}</td></tr></tr></table>" }, "id": "{{ obj.id }}" }{% if forloop.last %}] {% else %},{% endif %}{% empty %}]{% endfor %}
        var geoJsonLayer = L.geoJson( build_data, {onEachFeature: onEachFeature});
        markers.addLayer(geoJsonLayer);
        mymap.addLayer(markers);
        mymap.fitBounds(markers.getBounds(), {'maxZoom': 12});
    </script>

<script>
$( "#advanced_search_fields" ).append(  '<hr/><div class="controls "><label>entries per page</label><input type="number" class="form-control" name="amount"></div><br/>' );
</script>

<script>

var edition_names = [{% for name in edition_names %} "{{ name }}", {% endfor %}];
var institution_names = [{% for name in institution_names %} "{{ name }}", {% endfor %}];
var manager_names = [{% for name in manager_names %} "{{ name }}", {% endfor %}];
var infrastructure_names = [{% for name in infrastructure_names %} "{{ name }}", {% endfor %}];
var audience_names = [{% for name in audience_names %} "{{ name }}", {% endfor %}];
var writing_support_names = [{% for name in writing_support_names %} "{{ name }}", {% endfor %}];



$(function() {
	$("#id_name").autocomplete({
		source:edition_names
        });
    });
$(function() {
    $("#id_institution__name").autocomplete({
        source:institution_names
        });
    });

$(function() {
    $("#id_manager__name").autocomplete({
        source:manager_names
        });
    });
$(function() {
    $("#id_infrastructure").autocomplete({
        source:infrastructure_names
        });
    });
$(function() {
    $("#id_audience").autocomplete({
        source:audience_names
        });
    });
$(function() {
    $("#id_writing_support").autocomplete({
        source:writing_support_names
        });
    });

</script>
<script type="text/javascript">
$(document).ready(function(){
    $("#advanced_search_fields").hide();
    $("#01").click(function(){
        $("#advanced_search_fields").toggle();
    });
});
</script>

{% endblock %}
