
{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load django_tables2 %}
{% load i18n %}
{% block Titel %} {% endblock %}
{% block scriptHeader %}
<script src="{% static 'webpage/libraries/leaflet/leaflet.js' %}"></script>
<script src="{% static 'webpage/libraries/leaflet.markercluster/src/leaflet.markercluster-src.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{% static 'webpage/css/netviz-style.css' %}" />

{% endblock %}
{% block containerfluid %}
<div class="row netviz-wrapper">
<div class="col-md-2" id="netviz-sidebar">
<h3>Editions and their related Institutions, Persons, Places</h3>

        {{ netvis|safe }}

          <br>

          <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal" style="margin-top:10px;">
            Search
          </button>
          <a class ="btn btn-default"  href="{% url 'browsing:netvis' %}" style="margin-top:10px;">
            Reset search
          </a>
          <a class ="btn btn-default"  href="{% url 'browsing:netvisjson' %}{% querystring %}" style="margin-top:10px;">
            JSON netvis
          </a>
          <br>

<ul class="legend">
    <li><span class="edition"></span> Edition</li>
    <li><span class="institution"></span> Institution</li>
    <li><span class="place"></span> Place</li>
    <li><span class="person"></span> Person</li>
    <li><span class="repository"></span> Repository</li>
</ul>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
<!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Search options</h4>

      </div>
      <div class="modal-body">
        {% load django_tables2 crispy_forms_tags %}
        {% crispy filter.form filter.form.helper %}
        <a class ="btn btn-default"  id="01" style="white-space: normal;">Show/Hide Advanced search options</a><br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- class="modal-content"-->

  </div> <!-- class="modal-dialog"-->
</div><!--id="myModal"-->
<!--Modal ends-->
</div>       
<div class="col-md-10">
<div id="mynetwork"></div>
</div>
</div><!--row-->
<script type="text/javascript">
  var sourceData = {{ netviz_data|safe }};
  // create a network
  var container = document.getElementById('mynetwork');
  var data = {
    nodes: sourceData.nodes,
    edges: sourceData.edges
  };
  var options = {
    nodes: {
      borderWidth: 2,
      shape: 'dot',
      size: 20
      // padding: 50
    },
    interaction: {hover: true},
    layout: {
        improvedLayout: false
    },
    physics: {
         stabilization: false,
         barnesHut: {
          gravitationalConstant: -5000,
          springConstant: 0.01,
          springLength: 10
        }
    },
  }
  var network = new vis.Network(container, data, options);
  network.on("selectNode", function (params) {
     var seeMore = params.nodes[0];
     var nodeObject = data.nodes.filter(x => x.id == seeMore)
     console.log(nodeObject[0]['url']);
     if (nodeObject[0]['url'] == undefined){
         console.log('No URL')
     } else {
         window.open(nodeObject[0]['url']);
     }

  });
</script>
<script type="text/javascript">
$(document).ready(function(){
    $("#advanced_search_fields").hide();
    $("#01").click(function(){
        $("#advanced_search_fields").toggle();
    });
});
</script>
{% endblock %}
{% block socialShare %}
{% endblock %}