{% extends "webpage/base.html" %}
{% load staticfiles %}
{% block scriptHeader %}
<!--leafletjs -->
    <link rel="stylesheet" href="{% static 'webpage/libraries/leaflet/leaflet.css' %}"/></link>
    <script src="{% static 'webpage/libraries/leaflet/leaflet.js' %}"></script>
    <style>
        #map { height: 500px; }
    </style>
{% endblock %}
{% block content %}
<div class="panel panel-default">
<div class="panel-heading">
<h2>{{object.name}}</h2>
</div>
<div class="panel-body">
<div id="map">
</div>
<table class="table table-bordered table-hover table-condensed">
<tr>
	<th class="col-md-4">Name</th>
	<td>{{ object.name }}</td>
</tr>
<tr>
	<th>Alternative names</th>
	<td>
	{% for x in object.alternative_name.all %}
	<{{ x }}<br>
	{% endfor %}
	</td>
</tr>
<tr>
	<th>Geonames ID</th>
	<td>{{ object.geonames_id }}</td>
</tr>
<tr>
	<th>Latitude</th>
	<td>{{ object.lat }}</td>
</tr>
<tr>
	<th>Longitude</th>
	<td>{{ object.lng }}</td>
</tr>
<tr>
	<th>Part of</th>
	<td>{{ object.part_of }}</td>
</tr>
<tr>
	<th>Place type</th>
	<td>{{ object.place_type }}</td>
</tr>
<tr>
	<th>Institutions</th>
	<td>
	{% for x in object.institution_set.all %}
	<a href="{% url 'editions:institution_detail' pk=x.id %}">
	{{x}}
	</a>
	<br>
	{% endfor %}

	</td>
</tr>
</table>
</div>
<script type="text/javascript">
	{% if object.lat %}
    var gps1 = {{ object.lat }};
    var gps2 = {{ object.lng }};
    {% else %}
    var gps1 = 30.00;
    var gps2 = 31.00;
    {% endif %}
    var nix = "nix";
    var map = L.map('map').setView([gps1, gps2], 6);

    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox.light',
        accessToken: 'pk.eyJ1Ijoic2VubmllcmVyIiwiYSI6ImNpbHk1YWV0bDAwZnB2dW01d2l1Y3phdmkifQ.OljQLEhqeAygai2y6VoSwQ'
        }).addTo(map);

    L.marker([gps1 , gps2]).addTo(map)
    .bindPopup('<a href="http://www.geonames.org/{{object.geonames_id}}"">{{ object.name }}</a>')
    .openPopup();

</script>
{% endblock %}