{% extends "webpage/base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
    <!--<img src="{% static 'webpage/img/DigEds_Cat_logo_transp.png' %}" class="img-responsive" alt="logo" height="600">-->
    <!--<div style="text-align:center;">
        <a href="{% url 'browsing:browse_editions' %}" class="btn btn-info btn-lg" title="Click HERE to browse the editions or select an option from the black menu bar above">explore</a>
        <p></p>
    </div>-->

    <h1>Documentation</h1>


    <h3>Team</h3>
    <p>This project is a collaboration between Peter Andorfer and Ksenia Zaytseva of the Austrian Centre for Digital Humanities (ACDH, Vienna) and Greta Franzini of the UCL Centre for Digital Humanities (UCLDH, London). Peter and Ksenia develop the web application while Greta curates the data.</p>

    <h3>Duration</h3>
    <p>The <em>Catalogue of Digital Editions</em> began collecting digital editions in 2012. Development on the web application began in the summer of 2016 and kick-started the collaboration. The project will continue as long as the team's means allow.</p>

    <h3>Funding</h3>
    <p>This project receives no funding. Peter Andorfer and Ksenia Zaytseva are supported as ACDH staff, and Greta Franzini's contribution is entirely voluntary.</p>

    <h3>Components and repositories</h3>
    <p>The <em>Catalogue of Digital Editions Web Application</em> is made-up of two interacting components, each stored in its own GitHub repository: 1) the data, and 2) the web application to display the data to the user. The two components are connected via a custom script that regularly fetches the latest updates from the data repository and delivers them to the web application.</p>

        <h4>Data <small>component</small></h4>
        <p>The digital editions present in the <em>Catalogue</em> come from numerous sources and their selection follows basic criteria: the electronic texts can be ongoing or complete projects, born-digital editions as well as electronic reproductions of print volumes. They're gathered from online lists (e.g. <a href="http://www.tei-c.org/Activities/Projects/" target="_blank" title="Opens in new tab">Projects using the TEI</a>), conferences, publications, social media, word of mouth, web browsing and chaining.</p> 

        <p>The data is collected across two <code>.csv</code> (Comma Separated Value) files: the "master" file contains the digital editions, while the second file contains geographical information associated with the institutions mentioned in the master file (including <a href="http://www.dnb.de/DE/Home/home_node.html" target="_blank" title="Opens in new tab">DNB</a> and <a href="http://www.geonames.org/" target="_blank" title="Opens in new tab">GeoNames</a> IDs). This second file allows us to place digital editions on a map.</p>
        <p>The data's GitHub repository is: <a href="https://github.com/gfranzini/digEds_cat" target="_blank" title="Opens in new tab">https://github.com/gfranzini/digEds_cat</a></p>


        <h4>Web application <small>component</small></h4>
        <p>The application is a <a href="https://www.djangoproject.com/" target="_blank" title="Opens in new tab">Django web framework</a> designed to be simple and pragmatic.</p> 
        <p>Some fields in the <em>Catalogue</em>'s data file contain decimal numbers as values to measure the degree of compliance of a project to a particular feature: 0 stands for 'no compliance', 0.5 for 'somewhat/partially compliant', 1 for 'fully compliant'. Numbers make it easier to run calculations and statistical analyses over the data-set. When fetching data updates, the web application transforms these values into human-readable information: 0 becomes 'no', 0.5 becomes 'partial/somewhat' and 1 becomes 'yes'.</p>
        <p>The web application's default view of the <em>Catalogue</em> data is a searchable table, but it also provides bar and pie charts to better visualise statistical information.</p>
        <p>The web application's GitHub repository is: <a href="https://github.com/acdh-oeaw/dig_ed_cat" target="_blank" title="Opens in new tab">https://github.com/acdh-oeaw/dig_ed_cat</a></p>


    <h3>Progress</h3>
    <p>As of early 2017, the web application is still in its beta phase and despite a few bugs we're making good progress on both data accuracy and front/back-end development.</p>


    <h3>Limitations</h3>
    <p>Users might have noticed from the <em>Catalogue</em> that projects from Asian and African countries are underrepresented if not completely absent. The only reason for this large gap in the data is the language barrier. A Japanese project and website can only be correctly catalogued by someone who can read Japanese. Browser plugins to automatically translate webpages exist but we hesitate to use them as any machine-translation errors would go unnoticed and possibly lead to incorrect cataloguing. This is where <strong>user contributions become necessary to help paint a global, rather than a Western-centric, picture of digital edition initiatives</strong>.</p>


    <h3>How to contribute to the <em>Catalogue</em></h3>
    <p>If you wish to contribute a digital edition to the <em>Catalogue</em> or correct an existing entry, you can do so in one of three ways:</p>
    <ul>
        <li>If you're familiar with GitHub, you can fork <a href="https://github.com/gfranzini/digEds_cat" target="_blank" title="Opens in new tab">the data repository</a>, edit the <code>.csv</code> file and create a pull request.</li>
        <li>If you're not familiar with GitHub, you can create <a href="https://github.com/gfranzini/digEds_cat/issues" target="_blank" title="Opens in new tab">a GitHub issue</a> with as much information about the edition as possible (see 'Data fields' <a href="https://github.com/gfranzini/digEds_cat/wiki/Data-description-&-contribution#data-fields-in-the-catalogue" target="_blank" title="Opens in new tab">here</a>). The more information you provide, the sooner the edition will appear in the <em>Catalogue</em>.</li>
        <li>If you'd rather not use GitHub at all, you can fill-in a Google Form at this address: <a href="https://goo.gl/forms/4Ya3jwRCBi0VSexx2" title="Opens in new tab" target="_blank">https://goo.gl/forms/4Ya3jwRCBi0VSexx2</a>. Your entry will be moderated and promptly added to the <em>Catalogue</em>.</li>
    </ul>
	<p>The project you contribute will be exposed to 317 libraries in Germany thanks to its <a href="http://rzblx10.uni-regensburg.de/dbinfo/detail.php?bib_id=allefreien&colors=&ocolors=&lett=k&tid=0&titel_id=102043" target="_blank" title="Opens in new tab">Datenbank-Infosystem (DBIS)</a>, which includes the <em>Catalogue of Digital Editions</em> in its growing list of scientific databases.</p>


    <h3>How to cite this project</h3>
    <p>There are two citations for this project. If you wish to cite <em>the data only</em>, please adapt the following according to your preferred referencing style:<br />
    <blockquote>Franzini, G. (2012-) <em>Catalogue of Digital Editions</em>. Web. &lt;https://github.com/gfranzini/digEds_cat&gt;</blockquote>
    </p>

    <p>If you wish to cite <em>the web application as a whole</em>, please adapt the following:<br />
    <blockquote>Franzini, G., Andorfer, P., Zaytseva, K. (2016-) <em>Catalogue of Digital Editions: The Web Application</em>. Web. &lt;https://dig-ed-cat.eos.arz.oeaw.ac.at/&gt;</blockquote>
    </p>


    <h3>Copyright</h3>
    <p>As per the <a href="https://dig-ed-cat.eos.arz.oeaw.ac.at/imprint/">Imprint</a> page of this website, the data and code constituting this project are published under a Creative Commons Attribution Share-Alike International 4.0 License (CC-BY-SA 4.0).</p>

    
    <h3>Reading list</h3>
    
    <ul>
        <li>Franzini, G., Mahony, S., and Terras, M. (2016), ‘A Catalogue of Digital Editions’, In: Pierazzo, E. and Driscoll, M. J. (eds) <em><a href="http://www.openbookpublishers.com/htmlreader/978-1-78374-238-7/ch9.xhtml#_idTextAnchor023" target="_blank" title="Opens in new tab">Digital Scholarly Editing: Theories and Practices</a></em>. Cambridge: Open Book Publishers. [<strong>early version</strong> of the <em>Catalogue of Digital Editions</em>]</li>
        <li>Krippendorf, K. (2004) <em>Content Analysis: An Introduction to Its Methodology</em>. 2nd edn. Thousand Oaks, CA: Sage.</li>
    </ul>


    <h3>Other relevant resources</h3>
    
    <ul>
    <li>This project is one of two catalogues of digital editions in existence. We strongly encourage you to explore Patrick Sahle's <em><a href="http://www.digitale-edition.de/" target="_blank" title="Opens in new tab">Catalog of Scholarly Digital Editions</a></em>, which collects digital editions with a strong critical component and from which <em>this Catalogue</em> borrows key data definitions.</li>
    
    <li>As the name suggests, the <a href="http://ride.i-d-e.de/" target="_blank" title="Opens in new tab"><em>RIDE review journal for digital editions and resources</em></a> publishes peer-reviewed reviews of digital editions in multiple languages.</li>

    <li>The multilingual <a href="http://uahost.uantwerpen.be/lse/" target="_blank" title="Opens in new tab">Lexicon of Digital Scholarly Editing</a>.</li>

    <li>The Austrian <a href="http://www.digitale-edition.at/" target="_blank" title="Opens in new tab">Digital Edition Competence Network</a>.</li>

    </ul>

    <hr />

    <h2>Feedback</h2>
    <p>For general comments and suggestions, please email Greta Franzini at <a href="mailto:g.franzini.11@ucl.ac.uk">g.franzini.11@ucl.ac.uk</a></p>
    <p>For specific requests, bug reports or corrections, please create GitHub issues in the relevant repository.</p>
    <p>We'd love to hear from you!</p>


</div>
{% endblock %}