{% extends "webpage/base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">

    <h1>Documentation</h1>


    <h3>Team</h3>
    <p>This project is a collaboration between <a href="http://www.oeaw.ac.at/acdh/en/andorfer" target="_blank" title="Opens in new page">Peter Andorfer</a> and <a href="http://www.oeaw.ac.at/acdh/en/zaytseva" target="_blank" title="Opens in new page">Ksenia Zaytseva</a> of the <a href="http://www.oeaw.ac.at/acdh/" target="_blank" title="Opens in new tab">Austrian Centre for Digital Humanities</a> (ACDH, Vienna) and <a href="http://gretafranzini.com/" title="Opens in new tab" target="_blank">Greta Franzini</a> of the <a href="https://www.ucl.ac.uk/dh/" target="_blank" title="Opens in new tab">UCL Centre for Digital Humanities</a> (UCLDH, London). Peter and Ksenia develop the web application while Greta curates the data.</p>

    <h3>Duration</h3>
    <p>The <em>Catalogue of Digital Editions</em> began collecting digital editions in 2012. Development on the web application began in the summer of 2016 and kick-started the collaboration. The project will continue as long as the team's means allow.</p>

    <h3>Funding</h3>
    <p>This project receives no funding. Peter Andorfer and Ksenia Zaytseva are supported as ACDH staff, and Greta Franzini's contribution is entirely voluntary.</p>

    <h3>Components and repositories</h3>
    <p>The <em>Catalogue of Digital Editions Web Application</em> is made-up of two interacting components, each stored in its own GitHub repository: 1) the data, and 2) the web application to display the data to the user. The two components are connected via a custom script that regularly fetches the latest updates from the data repository and delivers them to the web application.</p>


    <h4 style="text-indent: 20px">Data <small>component</small></h4>
    <p style="text-indent: 20px">The digital editions present in the <em>Catalogue</em> come from numerous sources and their selection follows basic criteria: the electronic texts can be ongoing or complete projects, born-digital editions as well as electronic reproductions of print volumes. They're gathered from online lists (e.g. <a href="http://www.tei-c.org/Activities/Projects/" target="_blank" title="Opens in new tab">Projects using the TEI</a>), conferences, publications, social media, word of mouth, web browsing and chaining.<br />
    The data is collected across two <code>.csv</code> (Comma Separated Value) files: the "master" <code>digEds_cat.csv</code> file contains the digital editions, while the <code>institutions_places_enriched.csv</code> file contains geographical information associated with the institutions contained in the master file (including <a href="http://www.dnb.de/DE/Home/home_node.html" target="_blank" title="Opens in new tab">DNB</a> and <a href="http://www.geonames.org/" target="_blank" title="Opens in new tab">GeoNames</a> IDs). This second file allows us to place digital editions on a map.<br />
    The data's GitHub repository is: <a href="https://github.com/gfranzini/digEds_cat" target="_blank" title="Opens in new tab">https://github.com/gfranzini/digEds_cat</a></p>



    <h4 style="text-indent: 20px">Web application <small>component</small></h4>
    <p style="text-indent: 20px">The application is a <a href="https://www.djangoproject.com/" target="_blank" title="Opens in new tab">Django web framework</a> designed to be simple and pragmatic.<br /> Some fields in the <em>Catalogue</em>'s data file contain decimal numbers as values to measure the degree of compliance of a project to a particular feature: 0 stands for 'no compliance', 0.5 for 'somewhat/partially compliant', 1 for 'fully compliant'. Numbers make it easier to run calculations and statistical analyses over the data-set. When fetching data updates, the web application transforms these values into human-readable information: 0 becomes 'no', 0.5 becomes 'partial/somewhat' and 1 becomes 'yes'.<br />
    The web application's default view of the <em>Catalogue</em> data is a searchable table, but it also provides bar and pie charts to better visualise statistical information.<br />
    The web application's GitHub repository is: <a href="https://github.com/acdh-oeaw/dig_ed_cat" target="_blank" title="Opens in new tab">https://github.com/acdh-oeaw/dig_ed_cat</a></p>


    <h3>Progress</h3>
    <p>As of early 2017, the web application is still in its beta phase and despite a few bugs we're making good progress on both data accuracy and front/back-end development.</p>


    <h3>Limitations</h3>
    <p>Users might have noticed from the <em>Catalogue</em> that projects from Asian and African countries are underrepresented if not completely absent. The only reason for this large gap in the data is the language barrier. A Japanese project and website can only be correctly catalogued by someone who can read Japanese. Browser plugins to automatically translate webpages exist but we hesitate to use them as any machine-translation errors would go unnoticed and possibly lead to incorrect cataloguing. This is where <strong>user contributions become necessary to help paint a global, rather than a Western-centric, picture of digital edition initiatives</strong>.</p>


    <h3>How to contribute to the <em>Catalogue</em></h3>
    <p>If you wish to contribute a digital edition to the <em>Catalogue</em> or correct an existing entry, you can do so in one of three ways:</p>
    <ul>
        <li>If you're familiar with GitHub, you can fork <a href="https://github.com/gfranzini/digEds_cat" target="_blank" title="Opens in new tab">the data repository</a>, edit the <code>.csv</code> file and create a pull request.</li>
        <li>If you're not familiar with GitHub, you can create <a href="https://github.com/gfranzini/digEds_cat/issues" target="_blank" title="Opens in new tab">a GitHub issue</a> with as much information about the edition as possible (see 'Data fields' <a href="https://github.com/gfranzini/digEds_cat/wiki/Data-description-&-contribution#data-fields-in-the-catalogue" target="_blank" title="Opens in new tab">here</a>). The more information you provide, the sooner the edition will appear in the <em>Catalogue</em>.</li>
        <li>If you'd rather not use GitHub at all, you can fill-in a Google Form at this address: <a href="https://goo.gl/forms/4Ya3jwRCBi0VSexx2" title="Opens in new tab" target="_blank">https://goo.gl/forms/4Ya3jwRCBi0VSexx2</a>. Your entry will be moderated and promptly added to the <em>Catalogue</em>.</li>
    </ul>
	<p><strong>The project you contribute will be exposed to 317 libraries in Germany thanks to the <em>Catalogue</em>'s integration and syndication in the <a href="http://rzblx10.uni-regensburg.de/dbinfo/detail.php?bib_id=allefreien&colors=&ocolors=&lett=k&tid=0&titel_id=102043" target="_blank" title="Opens in new tab">Datenbank-Infosystem (DBIS)</a>.</strong></p>


    <h3>How to cite this project</h3>
    <p>There are two citations for this project. If you wish to cite <em>the data only</em>, please adapt the following according to your preferred referencing style:<br />
    <blockquote>Franzini, G. (2012-) <em>Catalogue of Digital Editions</em>. Web. &lt;https://github.com/gfranzini/digEds_cat&gt;</blockquote>
    </p>

    <p>If you wish to cite <em>the web application as a whole</em>, please adapt the following:<br />
    <blockquote>Franzini, G., Andorfer, P., Zaytseva, K. (2016-) <em>Catalogue of Digital Editions: The Web Application</em>. Web. &lt;https://dig-ed-cat.acdh.oeaw.ac.at/&gt;</blockquote>
    </p>

    <h3>Web analytics</h3>
    <p>We monitor visits to the <em>Catalogue</em> with the <a href="https://piwik.org/" target="_blank" title="Opens in new tab">Piwik Open Analytics</a> platform. This allows us to improve the resource and, to some extent, understand user behaviour on the site.</p>

    <h3>Copyright</h3>
    <p>As per the <a href="{% url 'webpage:imprint' %}">Imprint</a> page of this website, the data and code constituting this project are published under a Creative Commons Attribution Share-Alike International 4.0 License (CC-BY-SA 4.0). This means that you are free to reuse all contents as long as you make your copies or adaptations available under the same or a similar license.</p>


    <h3>Relevant reading</h3>

    <ul>
        <li>Franzini, G., Mahony, S., and Terras, M. (2016), 'A Catalogue of Digital Editions', In: Pierazzo, E. and Driscoll, M. J. (eds) <em><a href="http://www.openbookpublishers.com/htmlreader/978-1-78374-238-7/ch9.xhtml#_idTextAnchor023" target="_blank" title="Opens in new tab">Digital Scholarly Editing: Theories and Practices</a></em>. Cambridge: Open Book Publishers. [<strong>describes an early version</strong> of the <em>Catalogue of Digital Editions</em>]</li>
        <li>Krippendorf, K. (2004) <em>Content Analysis: An Introduction to Its Methodology</em>. 2nd edn. Thousand Oaks, CA: Sage.</li>
    </ul>


    <h3>Relevant resources</h3>

    <ul>
	    <li>Other catalogues
	    	<ul>
	    		<li>The first ever catalogue of digital editions was published and is still maintained by Patrick Sahle under the name <em><a href="http://www.digitale-edition.de/" target="_blank" title="Opens in new tab">Catalog of Scholarly Digital Editions</a></em>. Sahle's catalogue collects digital editions with a strong critical ("scholarly") component and from which <em>our Catalogue</em> borrows key data definitions.</li>
	    		<li>In December 2016, a catalogue of Spanish digital editions and texts also appeared on the web and can be accessed <a href="http://www.morethanbooks.eu/atlas-de-datos-digital-editions-spanish/" target="_blank" title="Opens in new tab">here</a>.</li>
	    	</ul>
	    </li>
	   

	    <li>As the name suggests, the <a href="http://ride.i-d-e.de/" target="_blank" title="Opens in new tab"><em>RIDE review journal for digital editions and resources</em></a> publishes peer-reviewed reviews of digital editions in multiple languages.</li>

	    <li>The multilingual <a href="http://uahost.uantwerpen.be/lse/" target="_blank" title="Opens in new tab">Lexicon of Digital Scholarly Editing</a> brings together field-specific definitions, concepts and terminology found in existing literature.</li>

	    <li>The Austrian <a href="http://www.digitale-edition.at/" target="_blank" title="Opens in new tab">KONDE - Digital Edition Competence Network</a>.</li>
    </ul>


    <h3>Acknowledgments</h3>
    <p>This project wouldn't have unfolded were it not for the continuous support and encouragement of <a href="https://www.ucl.ac.uk/dis/people/melissaterras" target="_blank" title="Opens in new tab">Professor Melissa Terras</a> and <a href="http://www.ucl.ac.uk/dis/people/simonmahony" target="_blank" title="Opens in new tab">Simon Mahony</a>.</p>


    <hr />

    <h2>Feedback</h2>
    <p>For general comments and suggestions, please email Greta Franzini at <a href="mailto:g.franzini.11@ucl.ac.uk">g.franzini.11@ucl.ac.uk</a><br />
    For specific requests, bug reports or corrections, please create GitHub issues in the relevant repository.</p>
    <p>We'd love to hear from you!</p>


</div>
{% endblock %}
