{% extends "webpage/base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">


    <h1>Frequently Asked Questions (FAQ)</h1>

    <p><strong>Q. Why are there no Asian and/or African digital editions in the <em>Catalogue</em>?</strong></p>
    <p>Because the team cannot read those languages and we hesitate to rely on browser translation plugins as any machine translation errors would go unnoticed and possibly lead to incorrect cataloguing. We're eager to fill this gap but need help from users to do so.</p>

    <p><strong>Q. Would it be possible to add a text size feature?</strong></p>
    <p>Calculating the text size (tokens/types) of every project would require major efforts on our part as this information is almost never published on project websites. If this information were available, we would definitely consider adding the feature to the <em>Catalogue</em>.</p>



</div>
{% endblock %}