{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% load news_extras %}
<style type="text/css">

</style>

{% block content %}
<div class="container">
    <img src="{% static 'webpage/img/DigEds_Cat_logo_transp.png' %}" class="img-responsive" alt="logo" height="600">
    <div style="text-align:center;">
        <a href="{% url 'browsing:browse_editions' %}" class="btn btn-info btn-lg" title="Click HERE to browse the editions or select an option from the black menu bar above" id="explore-btn">
          explore the catalogue
        </a>
    </div>

    <p></p>

    <p class="text-justify">Since 2012 the <strong><em>Catalogue of Digital Editions</em></strong> has been gathering digital editions and texts in an attempt to survey and identify best practice in the field of digital scholarly editing. Analogous initiatives exist but don't provide the granular analysis of features necessary to better understand the rationale and methodology behind the creation of a digital edition. This <em>Catalogue</em> provides an accessible record of standards and building technologies used, and thus an insight into past and present projects.</p>

    <p class="text-justify">Development on this web application began in 2016 and aims at delivering the <em>Catalogue</em> data in an interactive and user-friendly manner, allowing users to browse, search, filter and order projects around their research interests.</p>

    <p class="text-justify">The <em>Catalogue</em> is growing and always seeks contributions. For instructions on how to submit a digital edition to the <em>Catalogue</em>, please visit the <a target="_blank" href="{% url 'webpage:documentation' %}">Documentation</a> page of this site. <strong>Projects added will be exposed to 317 German libraries thanks to the <em>Catalogue</em>'s integration into the German Library Network (DBIS)</strong>.</p>


    <div class="row"> <!--col structure-->
        <div class="col-md-8"> <!--first column-->

        <h3>News items</h3>

        {% newsfeed  %}

        <p><span class="text-success">May 2017</span> - The <em>Catalogue of Digital Editions</em> links projects, where possible, to reviews published by the <em><a href="ride.i-d-e.de/" target="_blank" title="Opens in new tab">RIDE Review Journal of Scholarly Digital Editions and Resources</a></em>. We were also featured in <a href="http://karelsykora.blog.idnes.cz/blog.aspx?c=606254" target="_blank" title="Opens in new tab">iDNES.cz</a>, a Czech online news portal.</p>


        <p><span class="text-success">April 2017</span> - The <em>Catalogue of Digital Editions</em> was added to the German Datenbank-Infosystem (DBIS) for use in 317 libraries. DBIS was established at the University of Regensburg and is jointly funded by the Bavarian Ministry of Science, Research and the Arts and the German Research Foundation (DFG). More information available <a href="http://rzblx10.uni-regensburg.de/dbinfo/detail.php?bib_id=allefreien&colors=&ocolors=&lett=k&tid=0&titel_id=102043" title="Opens in new tab" target="_blank">here</a>.</p>


        <p><span class="text-success">March-April 2017</span> - A survey entitled '<a href="https://opinio.ucl.ac.uk/s?s=48797" target="_blank" title="Opens in new tab">Expectations of Digital (Textual) Editions</a>' is collecting information from the community about the needs of those who use digital editions. The results of the survey and details on how to cite it will be made available here after the survey's closing date.</p>

        <p><span class="text-success">February 2017</span> - The <em>Catalogue of Digital Editions</em> won third place in the <a href="http://dhawards.org/dhawards2016/results/">DH Awards 2016 Best DH Data Visualization category</a>.</p>

        <p><span class="text-success">September 2016</span> - The <em>Catalogue of Digital Editions</em> team presented the project at the 2016 TEI Conference in Vienna. Details about the conference and the book of abstracts are available <a href="https://tei2016app.acdh.oeaw.ac.at/pages/index.html" target="_blank" title="Opens in new tab">here</a>. The project poster can be viewed <a href="http://tei2016.acdh.oeaw.ac.at/sites/default/files/Greta%20Franzini%2C%20Peter%20Andorfer%20The%20Digital%20Editions%20Catalogue%20App%20A%20web%20application%20to%20browse%2C%20curate%20and%20analyze%20digital%20editions.pdf" target="_blank" title="Opens in new tab">here</a>.</p>

        </div>

        <div class="col-md-4"> <!--second column-->
                <a class="twitter-timeline"  href="https://twitter.com/hashtag/digEdsCat" data-widget-id="855092028652257281">Catalogue tweets</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
    </div> <!-- end col structure-->

    <span class="text-muted">Please note this is a beta version of the application.</span>
    <span class="text-muted">This site is <a href="https://search.google.com/search-console/mobile-friendly?id=8UA7fxY2iDMoX6w0qGIUNA" target="_blank" title="Opens in new tab">mobile-friendly</a>.</span>

</div>
{% endblock %}
