{% extends "webpage/base.html" %}

{% block content %}

<div class="jumbotron">
	<h1>Digital Editions Catalogue</h1>
	<h2>A collection of digital edtions</h2>
	<p>This web applications provides an interacitve exploration of the digital editions catalogue, created and curated by <strong><a href="http://www.ucl.ac.uk/dis/people/gretafranzini">Greta Franzini</a></strong>. For more information about the data driving this web application, please consult <a href="https://github.com/gfranzini/digEds_cat/wiki">digEds_cat</a>.</p>
    <p>For the application's code, please consult <a href="https://github.com/acdh-oeaw/dig_ed_cat">https://github.com/acdh-oeaw/dig_ed_cat</a>.
</div>

{% endblock %}