{% extends "webpage/base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">

<h1>Research output and visibility</h1>
<br>

	<h2>Publications and posters</h2>
	<ul>
		<li>Franzini, G., Terras, M., Mahony, S. (Forthcoming 2018/2019) 'Digital Editions of Text: Surveying User Requirements in the Digital Humanities', <em>Journal on Computing and Cultural Heritage (JOCCH) - Special Issue on Evaluation of Digital Resources</em>, 11(4)/12(1).</li>
		<li>Franzini, G., Andorfer, P., Zaytseva, K. (2017) <em>The Catalogue of Digital Editions: A web application to browse, curate and analyse digital editions</em>. DH Austria Conference 2017. Innsbruck, 4-6 December. DOI: <a href="https://doi.org/10.13140/RG.2.2.25323.64803" title="Opens in new tab" target="_blank">10.13140/RG.2.2.25323.64803</a></li>
		<li>Franzini, G., Andorfer, P., Zaytseva, K. (2016) <em>The Digital Editions Catalogue App: A web application to browse, curate and analyse digital
editions</em>. TEI Conference 2016. Vienna, 26-30 September. DOI: <a href="https://doi.org/10.13140/RG.2.2.11868.59521" title="Opens in new tab" target="_blank">10.13140/RG.2.2.11868.59521</a></li>
		<li>Franzini, G., Mahony, S., and Terras, M. (2016), 'A Catalogue of Digital Editions', In: Pierazzo, E. and Driscoll, M. J. (eds) <em><a href="http://www.openbookpublishers.com/htmlreader/978-1-78374-238-7/ch9.xhtml#_idTextAnchor023" target="_blank" title="Opens in new tab">Digital Scholarly Editing: Theories and Practices</a></em>. Cambridge: Open Book Publishers. DOI: <a href="http://dx.doi.org/10.11647/OBP.0095.09" title="Opens in new tab" target="_blank">10.11647/OBP.0095.09</a> [<strong>describes an early version</strong> of the <em>Catalogue of Digital Editions</em>]</li>
	</ul>



	<h2>Conference presentations and invited talks</h2>
	<ul>
		<li>Andorfer, P. and Franzini, G. (2018) <em><a href="{% static 'webpage/docs/2018_05_25_Weimar.pdf' %}">Der nächste Schritt? Linked Open Data und Visualisierung beim Catalogue of Digital Editions</a></em>. MWW/DARIAH-DE Workshop "Suchtechnologien". Weimar, Klassik Stiftung Weimar, 25 May. [INVITED]</li>
		<li>Franzini, G. (2017) <em>Catalogo di Edizioni Digitali: Per un'analisi dello status quo</em>. <a href="https://dh.fbk.eu/news/upcoming-seminars-digital-humanities" target="_blank" title="Opens in new tab">Digital Humanities Seminar Series</a>. Trento, Instituto Storico Italo-Germanico, Fondazione Bruno Kessler, 27 September. [INVITED]</li>
		<li>Franzini, G. (2013) <em>A Catalogue of Digital Editions</em>. Digital Humanities Annual Conference. Lincoln, University of Nebraska, 18 July.</li>
		<li>Franzini, G. (2013) <em>A Catalogue of Digital Editions: Towards an Electronic Edition of the Oldest Surviving Manuscript of St Augustine’s De civitate Dei</em>. Digital Classicist Seminar Series. London, Institute of Classical Studies, 12 July.</li>
		<li>Franzini, G. (2012) <em>A Catalogue of Digital Editions: The prototype</em>. NeDiMAH Expert Meeting and Workshop on Digital Scholarly Editions. The Hague, 21 November.</li>
	</ul>



	<h2>Syndication</h2>
	<ul>
		<li>The <em>Catalogue of Digital Editions</em> was added to the German <a href="http://rzblx10.uni-regensburg.de/dbinfo/detail.php?bib_id=allefreien&colors=&ocolors=&lett=k&tid=0&titel_id=102043" target="_blank" title="Opens in new tab">Datenbank-Infosystem (DBIS)</a> for use in over 300 libraries. DBIS was established at the University of Regensburg and is jointly funded by the Bavarian Ministry of Science, Research and the Arts and the German Research Foundation (DFG).</li>
		<li>The data of the <em>Catalogue</em> is indexed in <a href="https://www.researchgate.net/project/The-Digital-Editions-Catalogue-App-A-web-application-to-browse-curate-and-analyse-digital-editions" target="_blank" title="Opens in new tab">OpenAIRE</a>.</li>
	</ul>



	<h2>Awards</h2>
	<p>The <em>Catalogue</em> was second runner-up in the <a href="http://dhawards.org/dhawards2016/results/" target="_blank" title="Opens in new tab">DH Awards 2016 Best DH Data Visualization category</a>.</p>



	<h2>Press and refbacks</h2>
	<ul>
		<li>2018-03-30. Greta's <a href="http://www.filosofia.rai.it/speciale/conferenza-aiudc-bari-31-gennaio-2-febbraio-2018/2008/40392/default.aspx" target="_blank" title="Opens in new tab">interview on Italian national television (RAI Cultura)</a> about the <em>Catalogue of Digital Editions</em>.</li>
		<li>2018-02-22. <em><a href="http://fri.hypotheses.org/850" target="_blank" title="Opens in new tab">Edizioni scientifiche born digital. Quali modelli? (di Elena Bilancia)</a></em>, <em>Filologia Risorse Informatiche</em>.</li>
		<li>2018-01. <em><a href="https://www.cedis.fu-berlin.de/services/e-research/digitale-editionen/index.html" target="_blank" title="Opens in new tab">Center für Digitale Systeme (CeDiS) - Digitale Editionen erstellen und publizieren</a></em>, Freie Universität Berlin.</li>
		<li>2018-01. <em><a href="https://ilias3.uni-stuttgart.de/goto_Uni_Stuttgart_cat_127.html" target="_blank" title="Opens in new tab">Lehre &amp; Lernen Online</a></em>, Universität Stuttgart.</li>
		<li>2018-01. <em><a href="http://filologiadigitale-verona.it/strumenti-per-la-didattica/" title="Opens in new tab" target="_blank">Strumenti</a></em>, Filologia Digitale Verona.</li>
		<li>2017-11. <em><a href="http://research.ncl.ac.uk/atnu/resources/" title="Opens in new tab" target="_blank">Animated Text, Resources</a></em>, Newcastle University.</li>
		<li>2017-11. <em><a href="http://www.squirrel.uni-muenchen.de/ressourcen/digitale_editionen/index.html" target="_blank" title="Opens in new tab">Ressourcen - Digitale Editionen</a></em>, LMU Centrum für Informations- und Sprachverarbeitung, Historischen Seminars und IT-Gruppe Geisteswissenschaften.</li>
		<li>2017-10. #dariahTeach course <em><a href="https://teach.dariah.eu/course/view.php?id=32" target="_blank" title="Opens in new tab">Scholarly Digital Editions: Manuscripts, Texts and TEI Encoding</a></em>.</li>
		<li>2017-09. <em><a href="http://dal.ca.libguides.com/digitalhumanities/projects" target="_blank" title="Opens in new tab">Digital Humanities Resources</a></em>, Dalhousie University Libraries.</li>
		<li>2017-07-21. <a href="http://www.hagiographysourcebook.uni-kiel.de/index.php/2017/07/21/catalogue-digital-editions/" targe"_blank" title="Opens in new tab"><em>Hagiography Sourcebook: An Annotated Collection of Scientific Material on Hagiographic Research</em>.</li>
		<li>2017-06. <em><a href="http://digitallatin.org/blog/library-digital-latin-texts-ldlt" target="_blank" title="Opens in new tab">The Library of Digital Latin Texts (LDLT)</a></em>, The Digital Latin Library.</li>
		<li>2017-05. <em><a href="http://karelsykora.blog.idnes.cz/blog.aspx?c=606254" target="_blank" title="Opens in new tab">Katalog digitálních projektů</a></em>, iDNES.cz.</li>
		<li>2017-04. Greg Albers (The J. Paul Getty Trust, USA), <em><a href="https://mw17.mwconf.org/paper/the-next-generation-of-online-publishing-building-on-what-weve-learned-together/" title="Opens in new tab" target="_blank">Bringing Books Online</a>, MW17: Museums and the Web 2017 Conference</em>.</li>
		<li>2017-03. <em><a href="http://ancientworldonline.blogspot.it/2013/12/a-catalogue-of-digital-editions.html?utm_source=feedburner&utm_medium=email&utm_campaign=Feed:+Awol-TheAncientWorldOnline+(AWOL+-+The+Ancient+World+Online)&m=1" target="_blank" title="Opens in new tab">AWOL - The Ancient World Online</a></em>.</li>
		<li>2017-03. <em><a href="http://medialab.ugr.es/noticias/los-mejores-proyectos-de-humanidades-digitales-de-2016/" target="_blank" title="Opens in new tab">Los mejores proyectos de Humanidades Digitales de 2016</a></em>, MediaLab at the University of Granada.</li>
		<li>2017-02. <em><a href="http://dhawards.org/dhawards2016/results/" target="_blank" title="Opens in new tab">Digital Humanities Awards 2016</a>.</em></li>
		<li>2016-10-22. <em><a href="https://eadh.org/projects/catalogue-digital-editions" target="_blank" title="Opens in new tab">European Association for Digital Humanities (EADH) - Projects</a></em>.</li>
		<li>n.d. <em><a href="http://www.filologiadautore.it/wp/edizioni-digitali/" target="_blank" title="Opens in new tab">Filologia d'Autore</a></em>.</li>
		<li>n.d. <em><a href="http://people.ucalgary.ca/~lipton/etexts.html" target="_blank" title="Opens in new tab">Religious Studies Web Guide</a></em>, University of Calgary.</li>
	</ul>


</div>
{% endblock %}