{% extends "webpage/base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">

<h1>Expectations of Digital (Textual) Editions</h1>
<br>
<p>This page will provide the results of a <strong>survey entitled 'Expectations of Digital (Textual) Editions'</strong>, published on 29th March 2017 and closing on 30th April 2017. </p>
<p>The questionnaire aimed at collecting information about what users expect or want from a digital edition. In this questionnaire, a digital edition was broadly defined as an edition or transcription of a text that makes use of digital technologies to enhance users' access and experience of the source material. It can be a completed or an ongoing project, and does not necessarily have to provide a critical commentary. A mere replica of a printed edition was, in that instance, not considered to be a digital edition. The questions built upon the feature list provided by the <em>Catalogue of Digital Editions</em>, and the answers obtained were examined against the editions currently contained in the <em>Catalogue</em> to compare the user needs of the community with the digital editions that have been built by the community.</p>

<p><b>November 2017 update</b>: an article describing the survey and the results is currently in peer-review.</p>

<p><b>February 2018 update</b>: the article was accepted for publication in a special issue of the <em>Journal on Computing and Cultural Heritage (JOCCH)</em>!</p>



</div>
{% endblock %}
