{% extends "webpage/base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">

<h1>Expectations of Digital (Textual) Editions</h1>
<br>
<p>This page will provide the results of a <strong>survey entitled 'Expectations of Digital (Textual) Editions'</strong>, published on 29th March 2017 and closing on 30th April 2017. </p>
<p>The questionnaire, available <a href="https://opinio.ucl.ac.uk/s?s=48797" target="_blank" title="Opens in new tab">here</a>, aims at collecting information about what users expect or want from a digital edition. In this questionnaire, a digital edition is broadly defined as an edition or transcription of a text that makes use of digital technologies to enhance users' access and experience of the source material. It can be a completed or an ongoing project, and does not necessarily have to provide a critical commentary. A mere replica of a printed edition is, in this instance, not considered to be a digital edition. The questions build upon the feature list provided by the <em>Catalogue of Digital Editions</em>, and the answers obtained will be examined against the editions currently contained in the <em>Catalogue</em> to compare the user needs of the community with the digital editions that have been built by the community.</p>




<!--<h3>Most amusing (but valuable!) free-text answers</h3>

Question: <em>Which of the following data formats would facilitate your studies?</em>

<ul>
<li>docx (true, believe it or not)</li>
</ul>

Question: <em>Can you provide an example of a digital edition that has good functionality for your needs? Why and how does it meet your needs?</em>

<ul>
	<li>I've found the search function of the Loeb Online very helpful and comprehensive, although obviously it's a pain in the bottom to navigate.</li>
	<li>I would cite my own digital edition here, so I will abstain from answering this question.</li>
</ul>

Question: <em>Is there anything else you would like to tell us about your user needs for digital editions that we have not covered here?</em>

<ul>
	<li>I'm an aberration because I now do 99% of my work on my iPad or Galaxy Tab, including in class tool demonstrating. I rarely use a PC, unless I need 30" screen, or proper, command prompt work. So I use, and recommend to students, only tools which work across mobile platforms.</li>
	<li>clear and open license, provide a manual so theat(sic) users can actually RTFM [Read The F*cking Manual, Ed.].</li>
</ul>

<h3>Provocative (but valuable!) statements</h3>

<p>I would like to see critical digital editions that match the standards of good printed critical editions. Before digital editions try to do *more*, it would be good if they succeed in doing *as much*.</p>


<h2>Download the survey data</h2>-->



</div>
{% endblock %}
