{% extends "webpage/base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">

<h1>User feedback</h1>

<blockquote class="blockquote-reverse">
  <p>Grazie per il lavoro enorme che hai fatto con il tuo D[ata]base, che è davvero uno strumento utilissimo per le ricerche a tutti i livelli!</p>
  <footer><cite>Paola Italia</cite> - May 2017, email</footer>
</blockquote>


<blockquote class="blockquote-reverse">
  <p>What a nifty resource and cool website!</p>
  <footer><cite>Ron van den Branden</cite> - March 2017, email</footer>
</blockquote>



</div>
{% endblock %}
