{% extends "webpage/base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">

<h1>User feedback</h1>
<br>
<p>Comments given by users and colleagues.</p>

<blockquote>
  <p>Grazie per il lavoro enorme che hai fatto con il tuo D[ata]base, che è davvero uno strumento utilissimo per le ricerche a tutti i livelli!</p>
  <footer><cite>Paola Italia</cite> - May 2017, email</footer>
</blockquote>


<blockquote>
  <p>What a nifty resource and cool website!</p>
  <footer><cite>Ron van den Branden</cite> - March 2017, email</footer>
</blockquote>


<blockquote>
	<p>Discussing @GretaFranzini’s catalogue of digital editions [...] #dixit Great resource, in addition to @patrick_sahle’s!</p>
	<footer><cite>Daniel Powell</cite> - September 2015, Twitter</footer>
</blockquote>


<blockquote>
	<p>@GretaFranzini This list is great. [...]</p> 
	<footer><cite>Kyle P. Johnson</cite> - September 2015, Twitter</footer>
</blockquote>



</div>
{% endblock %}
