{% extends "webpage/base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">

<h1>User feedback and testimonials</h1>
<br>
<p>Comments from users and visitors.</p>
<br />
<br />

<blockquote>
	<p>That digital editions website is really nicely done. There is a slight wiggle on the documentation pages on my iPhone 6+, but other than that, it looks nice. Plus, I *really* like the content of the documentation pages. It is so clearly written, it should be a model for writing documentation. Everything, from the license info to the funding, how to cite, and the description of the various components, it is really well done. Bravo!</p>
	<footer><cite>Puneet Kishor</cite> - June 2017, email</footer>
</blockquote>

<blockquote>
  <p>Grazie per il lavoro enorme che hai fatto con il tuo D[ata]base, che è davvero uno strumento utilissimo per le ricerche a tutti i livelli!</p>
  <footer><cite>Paola Italia</cite> - May 2017, email</footer>
</blockquote>


<blockquote>
  <p>What a nifty resource and cool website!</p>
  <footer><cite>Ron van den Branden</cite> - March 2017, email</footer>
</blockquote>


<blockquote>
	<p>Discussing @GretaFranzini’s catalogue of digital editions [...] #dixit Great resource, in addition to @patrick_sahle’s!</p>
	<footer><cite>Daniel Powell</cite> - September 2015, Twitter</footer>
</blockquote>


<blockquote>
	<p>@GretaFranzini This list is great. [...]</p> 
	<footer><cite>Kyle P. Johnson</cite> - September 2015, Twitter</footer>
</blockquote>



</div>
{% endblock %}
